/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
     font-size: 62.5%;
     font-family: 'Cinzel', serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Gideon Roman', cursive;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

/* header */

header {
     display: flex;
     justify-content:space-around;
     align-content: stretch;
     align-items: center;
     padding: 15px;
     font-size: 1.8rem;
     align-content: stretch;
     font-family: 'Cinzel', serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Gideon Roman', cursive;
     font-weight: 700;
     color: black;
}

a {
     color: black;
     text-decoration:none;
   }

/* .endLinkLeft {
     padding: 0 0 0 10px;
}

.endLinkRight {
     padding: 10px 0 0 0;
} */

/* .gg-search, .gg-shopping-bag {
float: right;
margin: 20px;
border: 10px;
} */

.headerIcons{ 
     width: auto; 
     display: inline-block;
     justify-content: space-evenly;
}

.fa fa-search{
     padding: 2px;
}

/* ICONS */

.searchIcon{
     padding: 1px;
}

.cartIcon{
     padding: 1px;
}
.fa-magnifying-glass:before, .fa-search:before {
     content: "\f002";
     padding: 10px;
 }

 .fa-bag-shopping:before, .fa-shopping-bag:before {
     content: "\f290";
     padding: 0 18px 0 0;
 }

/* BODY */


.logo {
     cursor: pointer;
}



.nav__links {
     list-style: none;
}

.nav__links li {
     display: inline-block;
     padding: 0px 20px;
}

.nav__links li a {
     transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
     color: #0088a9;
}

button {
     padding: 9px 25px;
     background-color: rgba(0,136,169,1);
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
}

button:hover {
     background-color: rgba(0,136,169,0.8);
}

/* header nav > * {
     float: left;
     width: 20%;
     margin: 0 6%;
     list-style: none;
     height: 50px;
     background-color: orange;
     padding: 0;
     font-size: 1.3rem;
}

header nav li {
     float: left;
     width: 16.666666666666667%;
     background-color: blanchedalmond;
     display: inline;
}

header nav ul {
     list-style-type: none;
} 

header nav li a {
     display: block;
     padding: 8px;
     background-color: red;
   } */

/* I don't know how to target first section in <main> with specificity */
/* main ~ section {
     float: left;
     width: 100%;
     height: 400px;
     margin: 40px 0 0px 110px;
     background-color: pink;

} */

/* body {
     margin: 40px 0 0px 110px;
} */

h1 {
     display: inline;
     color: white;
}

.taglinesection {
     float: left;
     width: 100%;
     height: 400px;
     margin: 40px 0 0px 110px;
     color: white;
}

.mainTitle {
     font-size: 10rem;
     font-weight: 400;
     padding: 0 500px 0 0;
}

.firstButton {
     border: solid 1px black;
     background-color: black;
     color: white;
     width: auto;
     height: auto;
     padding: 10px 30px;
}

#firstButtonWordColor{
     color: white;
}

main {
     width:100%;
     height:auto;
     float: left;
     background-image: url("../image/mainHead.jpeg");
     background-repeat: no-repeat;
     margin: auto;
     background-position: center;
     background-size: cover;
     
}

.mainPhoto {
     float: left;
}

/* I don't know how to target second section in <main> with specificity */
/* body main > section + section {
     float: left;
     border: solid 1px black;
     background-color: black;
     color: white;
     height: 100px;
     margin: 110px 0 0 0;
     padding: 0 20%;
} */

.firstvisit {
     float: left;
     border: solid 1px black;
     background-color: black;
     color: white;
     width: 175px;
     height: 200px;
     margin: 40px 0 40px 130px;
     padding: 30px 20px;
     font-size: 1.5rem;
}

.firstVisitFontSize{
     font-size: 0.8rem;
}

.percentSize {
     font-size: 2.5rem;
}

.bookOnlineButton {
     font-size: 1rem;
     height: auto;
     width: auto;
     padding: 10px 20px;
}


/* .firstvisit > * {
     float: left;

}
 */

 .services {
     float: left;
     color: white;
     height: auto;
     margin: 40px 0 0px 110px;
     /* padding: 0 20%; */
 }


 .services > section{
     float: left;
     width: 33.33333%;
     padding: 0 6%;
     margin: auto;
     background-color: blue;
}

/* .service class */
/* main section + section + section{
     float: left;
     background-color: darkred;
     color: black;
     height: auto;
} */


/* main section + section + section > section{
     float: left;
     background-color: red;
     color: black;
     width: 33.33333%;

} */



.momentumvideo {
     float: left;
     background-color: rebeccapurple;
     width: 100%;
     margin: 40px 0 40px 0px;
     padding: 0px 0 0px 110px;
}

/* body section {
     float: left;
     background-color: rebeccapurple;
     width: 100%;
     margin: 40px 0 40px 0px;
     padding: 0px 0 0px 110px;

} */

/* .momentum class */
/* body section > section {
     width: 50%;
} */

/* .momentumvideo {
     width: 50%;
} */

.momentum {
     float: left;
     width: 50%;
}

.endvideo {
     float: left;
     width: 50%;
}

/* body section > section + section{
     width: 50%;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 850px) {


     header nav > * {
          float: left;
          width: 20%;
          margin: 0 6%;
          list-style: none;
          height: 50px;
          background-color: orange;
          padding: 0;
     }
     
     header nav li  {
          float: left;
          width: 16.666666666666667%;
          background-color: blanchedalmond;
     
     }
     
     
     /* I don't know how to target first section in <main> with specificity */
     /* main ~ section {
          float: left;
          width: 100%;
          height: 400px;
          margin: 40px 0 0px 110px;
          background-color: pink;
     
     } */
     
     /* body {
          margin: 40px 0 0px 110px;
     } */
     
     .taglinesection {
          float: left;
          width: 100%;
          height: 400px;
          margin: 40px 0px;
          padding: 0px 110px;
          background-color: pink;
     }
     
     /* I don't know how to target second section in <main> with specificity */
     /* body main > section + section {
          float: left;
          border: solid 1px black;
          background-color: black;
          color: white;
          height: 100px;
          margin: 110px 0 0 0;
          padding: 0 20%;
     } */
     
     .firstvisit {
          float: left;
          border: solid 1px black;
          background-color: black;
          color: white;
          height: auto;
          margin: 40px 0 0px 110px;
          padding: 20px 30px;
     }
     
     /* .firstvisit > * {
          float: left;
     
     }
      */
     
      .services {
          float: left;
          color: white;
          height: auto;
          margin: 40px 0px;
          padding: 0px 110px;
          /* padding: 0 20%; */
      }
     
     
     main section + section > section{
          float: left;
          width: 33.33333%;
          padding: 0 6%;
          margin: auto;
     }
     
     /* .service class */
     /* main section + section + section{
          float: left;
          background-color: darkred;
          color: black;
          height: auto;
     } */
     
     
     main section + section + section > section{
          float: left;
          background-color: red;
          color: black;
          /* width: 33.33333%; */
     
     }
     
     
     
     .momentumvideo {
          float: left;
          background-color: rebeccapurple;
          width: 100%;
          margin: 40px 0px;
          padding: 0px 110px;
     }
     
     /* body section {
          float: left;
          background-color: rebeccapurple;
          width: 100%;
          margin: 40px 0 40px 0px;
          padding: 0px 0 0px 110px;
     
     } */
     
     /* .momentum class */
     /* body section > section {
          width: 50%;
     } */
     
     /* .momentumvideo {
          width: 50%;
     } */
     
     .momentum {
          float: none;
          width: 100%;
     }
     
     .endvideo {
          float: none;
          width: 100%;
     }


}

@media screen and (max-width: 630px) {


     .services {
          display: none;
      }
     
     
     main section + section > section{
          float: left;
          width: 33.33333%;
          padding: 0 6%;
          margin: auto;
     }
     
     /* .service class */
     /* main section + section + section{
          float: left;
          background-color: darkred;
          color: black;
          height: auto;
     } */
     
     
     main section + section + section > section{
          float: left;
          background-color: red;
          color: black;
          /* width: 33.33333%; */
     
     }

}






