/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
     font-size: 62.5%;
     font-family: 'Cinzel', serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Gideon Roman', cursive;
     font-family: 'Neuton', serif;
     font-family: 'Cinzel', serif;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

/* header */

header {
     display:flex;
     flex-direction: row;
     justify-content:space-around;
     padding: 15px;
     font-size: 1.8rem;
     font-family: 'Cinzel', serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Gideon Roman', cursive;
     font-weight: 700;
     color: black;
}

.navRow{
     margin-top: 20px;
}

.header nav{
     display:flex;
     /* border-bottom: 1px solid #E2E8F0; */
     text-decoration: none;
     flex-direction: row;
 }

 .header nav ul li{
     display: inline-flex;
     flex-direction: row;
     justify-content: space-evenly;
     text-decoration: none;
     margin: 0 20px;
     align-items: center;
 }

 .nav-link:hover{
     color: rgba(0,136,169,0.8);
 }

a {
     color: black;
     text-decoration:none;
   }

.endLinkRight{
     margin-top: 3px;
}

/* .endLinkLeft {
     padding: 0 0 0 10px;
}
*/

.endLinkRight {
     font-size: 1.5rem;
} 

.nav__links li a {
     transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
     color: #0088a9;
}

/* .gg-search, .gg-shopping-bag {
float: right;
margin: 20px;
border: 10px;
} */

.headerIcons{ 
     width: auto; 
     display: inline-block;
     justify-content: space-evenly;
}

.fa fa-search{
     padding: 2px;
}

/* ICONS */

.searchIcon{
     padding: 1px;
}

.cartIcon{
     padding: 1px;
}
.fa-magnifying-glass:before, .fa-search:before {
     content: "\f002";
     padding: 10px;
 }

 .fa-bag-shopping:before, .fa-shopping-bag:before {
     content: "\f290";
     padding: 0 18px 0 0;
 }

/* FRONT IMAGE */


.logo {
     cursor: pointer;
}



.nav__links {
     list-style: none;
}

.nav__links li {
     display: inline-block;
     padding: 0px 20px;
}

.nav__links li a {
     transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
     color: #0088a9;
}

button {
     padding: 9px 25px;
     background-color: white;
     border: none;
     /* border-radius: 50px; */
     cursor: pointer;
     transition: all 0.3s ease 0s;
     padding-top: 10px;
     margin-top: 30px;
}

button:hover {
     background-color: rgba(0,136,169,0.8);
}

/* header nav > * {
     float: left;
     width: 20%;
     margin: 0 6%;
     list-style: none;
     height: 50px;
     background-color: orange;
     padding: 0;
     font-size: 1.3rem;
}

header nav li {
     float: left;
     width: 16.666666666666667%;
     background-color: blanchedalmond;
     display: inline;
}

header nav ul {
     list-style-type: none;
} 

header nav li a {
     display: block;
     padding: 8px;
     background-color: red;
   } */

/* I don't know how to target first section in <main> with specificity */
/* main ~ section {
     float: left;
     width: 100%;
     height: 400px;
     margin: 40px 0 0px 110px;
     background-color: pink;

} */

/* body {
     margin: 40px 0 0px 110px;
} */

h1 {
     display: inline;
     color: white;
}

.taglinesection {
     float: left;
     width: 100%;
     height: 400px;
     margin: 40px 0 0px 110px;
     color: white;
}

.mainTitle {
     font-size: 10rem;
     font-weight: 200;
     font-family: 'Cinzel', serif;
}

.mainWords {
     font-size: 1.5rem;
}

.firstButton {
     border: solid 1px black;
     background-color: black;
     color: white;
     width: auto;
     height: auto;
     padding: 10px 30px;
}

#firstButtonWordColor{
     color: white;
     font-size: 1.5rem;
}

main {
     width:100%;
     height:auto;
     float: left;
     background-image: url("../image/mainHead.jpeg");
     background-repeat: no-repeat;
     margin: 0 400px 0 0;
     padding: 0 400px 0 0;
     background-position: right;
     background-size: cover;
     clip-path: ellipse(1450px 550px at 40% 20%);
}

.mainPhoto {
     float: left;
}

/* I don't know how to target second section in <main> with specificity */
/* body main > section + section {
     float: left;
     border: solid 1px black;
     background-color: black;
     color: white;
     height: 100px;
     margin: 110px 0 0 0;
     padding: 0 20%;
} */

.firstvisit {
     float: left;
     border: solid 1px black;
     background-color: black;
     color: white;
     width: 175px;
     height: 200px;
     margin: 40px 0 40px 110px;
     margin-top: 20px;
     padding: 30px 20px;
     font-size: 1.5rem;
}

.firstVisitFontSize{
     font-size: 1rem;
     margin-bottom: 10px;
}

.percentSize {
     font-size: 2.5rem;
}

.bookOnlineButton {
     font-size: 1.2rem;
     height: auto;
     width: auto;
     padding: 10px 20px;
}


/* .firstvisit > * {
     float: left;

}
 */

 .services {
     float: left;
     color: black;
     height: auto;
     margin: 40px 90px;
     /* padding: 0 20%; */
     font-size: 2rem;
 }


 .services > section{
     float: left;
     width: 33.33333%;
     padding: 0 6%;
     margin: auto;
}

.servicesImage{
     margin: 0 38%;
}

/* .service class */
/* main section + section + section{
     float: left;
     background-color: darkred;
     color: black;
     height: auto;
} */


/* main section + section + section > section{
     float: left;
     background-color: red;
     color: black;
     width: 33.33333%;

} */

/********************* 
VIDEO/ABOUT US
*********************/

.momentumvideo {
     float: left;
     background-color: #F1F2F5;
     width: 100%;
     margin: 60px 0px;
     padding: 40px 90px;
}

.momentum{
    padding: 0px 90px 0 90px;
}

.momentumButton {
     background-color: black;
     
}

.momentumFontColor{
     color: white;
}

.endvideo{
     padding: 0px 50px 0 60px;
     /* margin: 0px 50px 0 0; */
}

/* body section {
     float: left;
     background-color: rebeccapurple;
     width: 100%;
     margin: 40px 0 40px 0px;
     padding: 0px 0 0px 110px;

} */

/* .momentum class */
/* body section > section {
     width: 50%;
} */

/* .momentumvideo {
     width: 50%;
} */

.momentum {
     float: left;
     width: 50%;
}

.endvideo {
     float: left;
     width: 50%;
}

/* body section > section + section{
     width: 50%;
} */


/********************* 
TEAM
*********************/

.teamSection {
     display: flex;
     justify-content: center;
     padding-top: 50px;
     margin-top: 100px;
     width: 100%;
 }
 
 .teamClasses {
   margin: 0 1%;
 }
 
 .buttonOrganization{
     display: flex;
     justify-content: center;
     padding-bottom: 100px;
     
 }
 
 .personButton {
     
     margin: 0 3.9%;
     margin-top: -23px;
     padding: 2px 25px;
     background-color: black;
 }
 
 .teamFontColor {
     color: white;
     font-size: 1rem;
     margin: 0 -50% ;
 }

/********************* 
DEAL 
*********************/

.dealSection {
     /* float: left; */
     display:inline-flex;
     background-color: #F8EEEB;
     background-image: url(../image/dealPhoto2.png);
     background-repeat: no-repeat;
     background-size: contain;
     background-position: 100%;   
     width: 56%;
     height: 250px;
     padding: 10%;
     margin: 0px 20% 7% 22%;
     justify-content: center;
     flex-direction: column;
}

.dealButton {
     color: white;
     background-color: black;
     font-size: 0.9rem;
     margin: 20px 260px 0 0;
     
}

.dealSectionText {
     font-size: 2rem;
     display: inline-block;
}



/****************************** 
LOOKBOOK
 *******************************/

/* .LookbookSection {
     float: left;
} */


/* 
.LookbookAllRowsImg {
     float: left;
} */

.trimSquare{
     object-fit: cover;
}

.LookbookSectionText {
     display: flex;
     justify-content: center;
     align-content: center;
     font-size: 2rem;
}

.LookbookSectionLine {
     border-bottom: 2px solid black;
     margin: 0 49%;
     padding-bottom: 1%;
     margin-bottom: 3%;
}

.LookbookAllRows {
     width: 100%;
     height: auto;
     display: flex;
     padding: 0 45%;
     /* border: 1px solid black; */
     justify-content: center;
     margin-bottom: 8%;
     
}

.row1 {
     flex-direction: column;
     padding: 1%;
}

.row2 {
     flex-direction: column;
     padding: 1%;

}

.row3{
     flex-direction: column;
     padding: 1%;

}


.lastImg{
     object-fit: cover;
}

/****************************** 
OTHER
 *******************************/

.serviceTitles {
     text-align: center;
     margin-top: 5%;
}

.sentence{
     font-family: 'Roboto', sans-serif;
     font-size: 1.5rem;
     margin-top: 5%;
     text-align:center
}

.sentenceMiddle{
     font-family: 'Roboto', sans-serif;
     font-size: 1.5rem;
     margin-top: 5%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* 1088px 

Front page:
- menu
- buttons (squish together)
- team section becomes misaligned

1024px
- button in deal section gets warped, text begins to squish when smaller
-

851px
Front page:
- bottom button disapears behind style
- spacing between aboutUs/video get too close

*/

.hamColor {
     color: black;
}

.button {
     cursor: pointer;
     
}

.mainMenu li:hover {
     color: #0088a9;
}

.searchIcon:hover, .cartIcon:hover, .endLinkRight:hover, .button:hover{
     color: #0088a9;
}

@media only screen and (max-width: 1093px) {
     .personButton {     
          margin: 0 3.9%;
          margin-top: -23px;
          padding: 2px 25px;
      }
     
}

@media only screen and (max-width: 2503px) {
     .personButton {     
          margin: 0 3.1%;
          margin-top: -23px;
          padding: 2px 25px;
      }
     
}

@media only screen and (max-width: 2225px) {
     .personButton {     
          margin: 0 3.5%;
          margin-top: -23px;
          padding: 2px 25px;
      }
     
}

@media only screen and (max-width: 1669px) {
     .personButton {     
          margin: 0 4.5%;
          margin-top: -23px;
          padding: 2px 25px;
      }
     
}

@media only screen and (max-width: 1440px) {
     .personButton {     
          margin: 0 4.9%;
          margin-top: -23px;
          padding: 2px 25px;
      }
     
}

@media only screen and (max-width: 1260px) {
     .personButton {     
          margin: 0 5.9%;
          margin-top: -23px;
          padding: 2px 25px;
      }
     
}


@media only screen and (max-width: 800px) {
     .personButton {     
          margin: 0 7.9%;
          margin-top: -23px;
          padding: 2px 25px;
      }
     
}

@media only screen and (max-width: 690px) {
     .personButton {     
          margin: 0 10.9%;
          margin-top: -23px;
          padding: 2px 25px;
      }
     
}

@media only screen and (max-width: 1093px) {
     .nav__links {
          display: none;
          position:relative;
          
     }
     .nav__links.toggleCls{
          display: block;
     }

     .iconContainer1 {
          display: none;
     }

.navRow {
     display: inline-flex;
     flex-direction: row;
     justify-content: flex-start;
}

     ul {
          margin: 0px;
          padding: 0px;
          list-style: none;
     }

     ul li {
          /* float: left; */
          width: 200px;
          height: 40px;
          background-color:white;
          opacity: .8;
          /* align text vertically */
          /* line-height: 40px;
          text-align: center;
          font-size: 2rem; */
     }

/* ul li a {
     text-decoration: none;
     display: block;
}

ul li a:hover {
     background-color: #0088a9;
}

ul li:hover{
     display: block;
}

ul li ul li {
     display: none;
} */

     .nav__links li {
          display: flex;
          flex-direction: column;
     }

.button {
     display: flex;
     justify-content: space-between;
}

.hamPosition {
     margin: -1.20rem 0;
     /* line-height: 30px */
}

header {
     display: flex;
     justify-content: space-between;
}

.endLinkRight {
     margin: 3px 0px 0px 6px;
     /* padding: 0 2%; */
     font-size: 1.5rem;
}

nav .mainMenu:before {
     position:absolute;
     content: '';
     transform: rotate(45deg);
     z-index: -1;
     display: block;

}

input{
     display: none;
}

/* New hamburger menu */

.nav-menu {
     position: fixed;
     right: -100%;
     top: 7rem;
     flex-direction: column;
     background-color: #fff;
     width: 25%;
     border-radius: 10px;
     text-align: center;
     transition: 0.3s;
     box-shadow:
         0 10px 27px rgba(0, 0, 0, 0.05);
     z-index:1;
 }

.nav-menu.active {
     right: 0;
 }

 .nav-item {
     margin: 2.5rem 0;
 }

 .hamburger {
     display: block;
     cursor: pointer;
 }

.hamburger.active .bar:nth-child(2) {
     opacity: 0;
   }
   
   .hamburger.active .bar:nth-child(1) {
     transform: translateY(8px) rotate(45deg);
   }
   
   .hamburger.active .bar:nth-child(3) {
     transform: translateY(-8px) rotate(-45deg);
   }

   .mainTitle {
     font-size: 7rem;
     font-weight: 200;
     font-family: 'Cinzel', serif;
}



}

@media (min-width: 1094px){
     .hamIcon {
          display: none;
     }
     .nav__links{
          display: initial;
     }

     .iconContainer2{
          display: none;
     }
}

/* @media only screen and (max-width: 851px) {
     
} */